
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
._1V_ZGU {
    font-weight: 500;
    text-align: left;
    color: #388e3c;
    margin: 12px 0 -12px;
}

._16Jk6d {
    font-size: 28px;
    vertical-align: sub;
}
._25b18c{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
._2QKOHZ {
    font-weight: 500;
    font-size: 24px;
    padding: 24px 0 0 24px;
    color: #212121;
}




